@media only screen and (max-width: 500px) {

  body {
    grid-template-areas:
      "header"
      "footer"
      "body";
  }

  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align:center;
  }
}

body {
  min-height: 100vh;
  font-family: 'Source Sans Pro';
  background: blue;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 60% 40%;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

header {
    grid-area: header;
    background: black;
}

.container {
    grid-area: body;
    display: grid;
    grid-template-columns: 66% auto;

}

footer {
    grid-area: footer;
    background: white;
}
